.cell {
  position: absolute;
}

.cell-snake,
.cell-head {
  background: #161a1d;
  z-index: 5;
}

.cell-head {
  opacity: 0.7;
}

.cell-eat {
  background: #38e555;
}

.cell-block {
  background: gray;
}
